In [12]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import pymysql

In [25]:
login = "root"
password = "Hiperis1984!"
ip = "127.0.0.1"
database = "LoanClub"

engine = create_engine(f'mysql+pymysql://{login}:{password}@{ip}/{database}')
#df_to_save.to_sql(name_table, engine, index=False)

In [26]:
term= pd.read_sql("select * from loan_term", engine)

In [97]:
accepted = pd.read_csv("accepted_2016_2018_individual.csv")

In [19]:
loan_term = pd.DataFrame(pd.unique(accepted["term"]))

In [20]:
loan_term.index = np.arange(1, len(loan_term) + 1)

In [21]:
loan_term.rename(columns = {0:"term_length"}, inplace=True)

In [34]:
loan_term.to_sql("loan_term", con = engine, if_exists = "replace")

In [37]:
home_ownership = pd.DataFrame(pd.unique(accepted["home_ownership"]))

In [38]:
home_ownership.index = np.arange(1, len(home_ownership) + 1)

In [50]:
home_ownership.rename(columns = {0:"ownership_type"}, inplace=True)

In [53]:
home_ownership.to_sql("home_ownership", con = engine, if_exists = "replace")

In [54]:
purpose = pd.DataFrame(pd.unique(accepted["purpose"]))

In [55]:
purpose.index = np.arange(1, len(purpose) + 1)

In [56]:
purpose.rename(columns = {0:"purpose"}, inplace=True)

In [57]:
purpose.to_sql("purpose", con = engine, if_exists = "replace")

In [68]:
grade = pd.DataFrame(pd.unique(accepted["sub_grade"])).sort_values(0)

In [69]:
grade.rename(columns = {0:"sub_grade"}, inplace=True)

In [70]:
grade["grade"] = grade["sub_grade"].apply(lambda x: x[0])

In [72]:
grade.index = np.arange(1, len(grade) + 1)

In [74]:
grade.to_sql("grade", con = engine, if_exists = "replace")

In [146]:
accepted_small = accepted.sample(1000)

In [147]:
accepted_small["term"].value_counts()

 36 months    745
 60 months    255
Name: term, dtype: int64

In [148]:
accepted_small["term"] = accepted_small["term"].apply(lambda x: 1 if "36" in x else 2)

In [149]:
accepted_small["term"].value_counts()

1    745
2    255
Name: term, dtype: int64

In [150]:
accepted_small["purpose"] = accepted_small["purpose"].apply(lambda x: 1 if "other" in x 
                                                            else 2 if "debt" in x 
                                                            else 3 if "major" in x 
                                                            else 4 if "home" in x 
                                                            else 5 if "credit" in x 
                                                            else 6 if "vacation" in x 
                                                            else 7 if "medical" in x 
                                                            else 8 if "car" in x 
                                                            else 9 if "small" in x 
                                                            else 10 if "house" in x 
                                                            else 11 if "moving" in x 
                                                            else 12 if "wedding" in x 
                                                            else 13 if "renewable" in x 
                                                            else 14)

In [151]:
accepted_small["home_ownership"] = accepted_small["home_ownership"].apply(lambda x: 1 if "RENT" in x 
                                                                          else 2 if "OWN" in x 
                                                                          else 3 if "MORTGAGE" in x 
                                                                          else 4)

In [152]:
accepted_small["sub_grade"] = accepted_small["sub_grade"].apply(lambda x: 1 if "A1" in x 
                                                            else 2 if "A2" in x 
                                                            else 3 if "A3" in x 
                                                            else 4 if "A4" in x 
                                                            else 5 if "A5" in x 
                                                            else 6 if "B1" in x 
                                                            else 7 if "B2" in x 
                                                            else 8 if "B3" in x 
                                                            else 9 if "B4" in x 
                                                            else 10 if "B5" in x 
                                                            else 11 if "C1" in x 
                                                            else 12 if "C2" in x 
                                                            else 13 if "C3" in x 
                                                            else 14 if "C4" in x
                                                            else 15 if "C5" in x
                                                            else 16 if "D1" in x
                                                            else 17 if "D2" in x
                                                            else 18 if "D3" in x
                                                            else 19 if "D4" in x
                                                            else 20 if "D5" in x
                                                            else 21 if "E1" in x
                                                            else 22 if "E2" in x
                                                            else 23 if "E3" in x
                                                            else 24 if "E4" in x
                                                            else 25 if "E5" in x
                                                            else 26 if "F1" in x
                                                            else 27 if "F2" in x
                                                            else 28 if "F3" in x
                                                            else 29 if "F4" in x
                                                            else 30 if "F5" in x
                                                            else 31 if "G1" in x
                                                            else 32 if "G2" in x
                                                            else 33 if "G3" in x
                                                            else 34 if "G4" in x
                                                            else 35)

In [153]:
accepted_small["grade"] = accepted_small["sub_grade"]

In [154]:
accepted_small.head()

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,...,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,disbursement_method,debt_settlement_flag
512105,143839544,3000.0,3000.0,3000.0,1,19.92,111.37,18,18,Medical Assistant,...,100.0,0.0,0.0,80596.0,81092.0,5000.0,71196.0,N,Cash,N
481771,68996739,8000.0,8000.0,8000.0,1,12.88,269.09,12,12,Data Center Engineer,...,100.0,0.0,0.0,55854.0,44336.0,8600.0,46954.0,N,Cash,N
217406,74624817,20000.0,20000.0,20000.0,1,11.47,659.24,10,10,Adminstrative,...,16.7,0.0,1.0,455523.0,61034.0,31900.0,59623.0,N,Cash,N
847407,122373189,16000.0,16000.0,16000.0,1,9.44,512.08,6,6,REALTOR/BROKER,...,0.0,1.0,0.0,459450.0,34252.0,30600.0,42250.0,N,Cash,N
580857,134726495,3500.0,3500.0,3500.0,1,11.05,114.67,9,9,Social Worker,...,33.3,0.0,0.0,188165.0,39610.0,5200.0,36711.0,N,DirectPay,N

In [155]:
accepted_small.to_sql("accepted_loans", con = engine, if_exists = "replace")